<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>割り算</title>
</head>
<body>
    <p>あなたが選んだのは<%= your %>です．</p>
    <p>コンピュータは<%= num %>です．</p>
    <p>判定：<%= remainder %></p>
    <hr>
    <form action="/division">
        <input type="text" name="hand" required>
        <label for="hand">1から100の間で何を選びますか？</label>
        <input type="submit" values="スタート">
    </form>   
</body>
</html>